/* Load same fonts of native UI */
@font-face {font-family: 'Roboto'; src: url(Roboto-Regular.ttf);}
@font-face {font-family: 'Roboto-Italic'; src: url(Roboto-Italic.ttf);}
@font-face {font-family: 'Roboto-Light'; src: url(Roboto-Light.ttf);}
@font-face {font-family: 'Roboto-Medium'; src: url(Roboto-Medium.ttf);}
@font-face {font-family: 'Roboto-Bold'; src: url(Roboto-Bold.ttf);}
@font-face {font-family: 'Roboto-Regular'; src: url(Roboto-Regular.ttf);}
@font-face {font-family: 'RobotoCondensed-Bold'; src: url(RobotoCondensed-Bold.ttf);}
@font-face {font-family: 'RobotoCondensed-Regular'; src: url(RobotoCondensed-Regular.ttf);}

/* Set transparent background-color
body {
	background-color: transparent !important;
}
 */